.category {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 1320px;
  left: 0px;
  background-color: #FAFAFA;
}
.category h1{
font-family: SF Pro Display;
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0.01em;
text-align: left;
}
.browse{
    width: 1120px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 350px;
    color: black;
}
.browse img{
    width: 80px;
    height: 32px;
  
    
    margin-top:20px;

}
.buttons{
    width: 1200px;
    height: 200px;
    margin-left: 330px;
    background-color:#FAFAFA ;
    margin-top: 52px;
   
   


}
.buttons button{

    width: 200px;
    height: 200px;
    background-color:#FAFAFA ;
    background: none;
}
